body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.button {
  background: white;
  display: inline-block;
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  border-right: 0px solid #000000;
  border-bottom: 4px solid #626262;
  width: 70px;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
}

.title {
  color: white;
}

.container {
  max-width: 1000px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 30px auto;
  margin-top: 75px;
  overflow: auto;
  padding: 30px;
  min-height: 250px;
}

.pr-row {
  padding: 10px 20px;
  background: #e8eef6;
  margin: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.pr-email {
  color: rgb(114, 114, 114);
  font-size: 10px;
  padding-left: 20px;
}
.line-break {
  width: 100%;
}

.header-dark {
  width: 100%;
  background: rgb(29, 29, 29);
  color: white;
  position: absolute;
  top: 0px;
}
.header-light {
  width: 100%;
  color: rgb(5, 75, 206);
  position: absolute;
  top: 300px
}

.delete-button {
  font-size: 20px;
  background: rgb(240, 156, 156);
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  border-right: 0px solid #000000;
  border-bottom: 4px solid #833c3c;
  width: 45px;
  height: 45px;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
}

.delete-button:focus {     
  background: rgb(238, 100, 100);    
}

.search-bar {
  height: 30px;
  min-width: 200px;
  margin: 10px;
}

.loading {
  color:rgb(114, 114, 114);
}

.page-num {
  color:rgb(5, 75, 206);
  margin: 2px;
}

button:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1)
} 

input {
  
}



